<ul>
  <% @flats.each do |flat| %>
    <li><%= link_to flat.name, flat_path(flat) %> <%= flat[:planet] %></li>
    <li><%= flat[:description] %> </li>
    <li><%= flat[:rating] %> </li>
  <% end %>
</ul>

<%= link_to "Add a flat", new_flat_path, class: "btn btn-primary" %>

<div class="d-flex">
<div class="row" id="box-search">
  <div class="thumbnail text-center">
    <%= image_tag "mars_bg.png", alt: "alttext", :class => "img" %>
    <div class="caption">
      <h1 class="big-text-planet">
        La planète rouge
      </h1>
      <p class="little-text-planet">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna consequat turpis id eget a eget. Et mauris pulvinar dictum metus sapien.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 20rem; margin-left: auto; margin-right: auto; margin-top: 24px;">
        <%= cl_image_tag("https://res.cloudinary.com/dpdzk7keq/image/upload/v1582128674/test_tjf9zr.jpg", width: 320, height: 260, crop: :fill) %>
        <!-- <img class="card-img-top border_img" src="https://source.unsplash.com/random/200x100" alt="Card image cap"> -->
        <div class="card-body">
          <p class="card-top-text">Entire house</p>
          <h5 class="card-title">Nasa city 05</h5>
          <p class="card_price">360$/night</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 20rem; margin-left: auto; margin-right: auto; margin-top: 24px;">
        <%= image_tag "mars2.png", alt: "alttext", class: "card-img-top border_img"%>
        <!-- <img class="card-img-top border_img" src="https://source.unsplash.com/random/200x100" alt="Card image cap"> -->
        <div class="card-body">
          <p class="card-top-text">Entire house</p>
          <h5 class="card-title">Campus Atome</h5>
          <p class="card_price">420$/night</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 20rem; margin-left: auto; margin-right: auto; margin-top: 24px;">
        <%= image_tag "mars3.png", alt: "alttext", class: "card-img-top border_img"%>
        <!-- <img class="card-img-top border_img" src="https://source.unsplash.com/random/200x100" alt="Card image cap"> -->
        <div class="card-body">
          <p class="card-top-text">Room</p>
          <h5 class="card-title">Millenium house</h5>
          <p class="card_price">280$/night</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= @flats.each do |flat| %>
    <div class="col-sm">
      <div class="card" style="width: 20rem; margin-left: auto; margin-right: auto; margin-top: 24px;">
        <%= cl_image_tag(flat.photo.key, width: 320, height: 260, crop: :fill) %>
        <div class="card-body">
          <p class="card-top-text"><%= flat.planet %></p>
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card_price"><%= flat.price %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
