<!-- Image -->
<div>
  <img src="nicolas-lobos-kGtFjYdm7DI-unsplash.jpg" alt="" class="flatcard-image">
</div>
<!-- Description and Form -->
<div class="flatcard-container">
  <div class="flatcard">
    <h1><%= @flat[:name] %></h1>
<!--   <p class="flatcard-planet"><%= @flat[:planet] %></p>
 -->  <p class="flatcard-description"><%= @flat[:description] %></p>
     <p class="flatcard-description"> We have space for: <%= @flat[:capacity] %> people</p>
    <p class="flatcard-rating">
    <% @flat.rating.to_i.times do  %>
    <span class="glyphicon glyphicon-star"></span>
    <% end %>
    </p>
  </div>
  <div class="flatcard-form">
    <!-- form to make a booking TO DO -->
    <br>
<!--     Book this flat! Btn, TO DO
 -->    <%= link_to "Update flat", edit_flat_path, class: "btn btn-primary"  %>
    <%= link_to "Delete", flat_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary"  %>
    <%= link_to "Back home", flats_path, class: "btn btn-primary"  %>
  </div>
  <div>

  </div>
</div>


