<h1>More infos on <%= @flat[:name] %></h1>
<p>Find us on <%= @flat[:planet] %></p>
<p>description <%= @flat[:description] %></p>
<p>rating <%= @flat[:rating] %></p>
<p>capacity <%= @flat[:capacity] %></p>


<%= link_to "Back home", flats_path  %>
