<div class="d-flex justify-content-between">
  <h2 class="m-3">Bookings of  <%= current_user["first_name"] %>  <%= current_user["last_name"] %> </h2>
  <%= link_to "Back home", flats_path, class: "btn btn-dark m-3"  %>
</div>



  <!-- add the cloudanary img -->

<div class="card m-3">
<% @bookings.each do |booking| %>
  <div class="card-body">
  <img src="nicolas-lobos-kGtFjYdm7DI-unsplash.jpg"  class="card-img-top" style="height: 200px;" alt="">
  <h3 class="card-title pt-1">Your reservation on <%= booking.flat.planet %></h2>
  <p class="card_text">The flat "<%= link_to booking.flat.name, flat_path(booking.flat) %>" is booked from  <%= booking.start_time %> to <%= booking.end_time%>.</p>
  <p><%= link_to "Cancel Reservation", flat_booking_path(flat_id:booking.flat.id, id:booking.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-dark"  %></p>
  </div>
<% end %>
</div>

<%= link_to "Back home", flats_path, class: "btn btn-dark mb-4 ml-3"  %>
<!--


 <h1>flats I rent to someone </h1> -->

