<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <%= simple_form_for [@flat, @booking] do |f| %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>

        <%= f.submit "Make a booking", class: "btn btn-dark" %>
      <% end %>
      <br><br>
      <%= link_to "Back home", flats_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>


  <!-- create_table "bookings", force: :cascade do |t|
    t.bigint "flat_id"
    t.bigint "user_id"
    t.date "start_time"
    t.date "end_time"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["flat_id"], name: "index_bookings_on_flat_id"
    t.index ["user_id"], name: "index_bookings_on_user_id"
 -->
