<body class="<%= @planet.title == "Mars" ? 'background-mars' : 'background-moon' %>">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="big-text-planet"><%= @planet.title %></h1>
        <p class="little-text-planet"><%= @planet.description %> </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="grid-container">
         <% @flats.each do |flat| %>
         <div class="grid-item">
          <%= link_to flat_path(flat) do %>
          <div class="card" style="margin-left: auto; margin-right: auto; margin-top: 24px;">
            <%= cl_image_tag flat.photo.key, width: 320, height: 260, crop: :fill, class: "card-img-top border_img" %>
            <div class="card-body">
              <p class="card-top-text"><%= flat.planet.title %></p>
              <h5 class="card-title"><%= flat.name %></h5>
              <p class="card_price"><%= flat.price %>$/night</p>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</body>
