<body class="background">
  <div class="container">
    <div class="row">
        <h1 class="big_title text-left">Des hébergements au coeur des étoiles</h1>
        <p class="texte text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed urna consequat turpis id eget a eget. Et mauris pulvinar
          dictum metus sapien.</p>
        <%= link_to 'Find a flat', flats_path, class: "cta_home" %>
      <!-- <div class="background_blur"></div> -->

      <!-- ICON CAROUSEL -->
      <div class="my-5 text-center container background_blur" id="grandcarousel">
        <div class="row d-flex align-items-center">
          <div class="col-1 d-flex align-items-center justify-content-center">
          <a href="#carouselExampleIndicators" role="button" data-slide="prev">
            <div class="carousel-nav-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"/>
              </svg>
            </div>
          </a>
        </div>
        <!-- CAROUSEL -->
        <div class="col-10">
        <!--Start carousel-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <%= link_to planet_path(Planet.find_by(title: "Mars")) do %>
                <%= image_tag "Mars.png", alt: "alttext", :class => "col-12 col-md d-flex align-items-center justify-content-center"%>
                <% end %>
                <%= link_to planet_path(Planet.find_by(title: "Moon")) do  %>
                <%= image_tag "Lune.png", alt: "alttext", :class => "col-12 col-md d-flex align-items-center justify-content-center" %>
                <% end %>
                <%= link_to planet_path(Planet.find_by(title: "Moon")) do  %>
                <%= image_tag "Venus.png", alt: "alttext", :class => "col-12 col-md d-flex align-items-center justify-content-center" %>
                <% end %>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <%= link_to planet_path(Planet.find_by(title: "Mars")) do %>
                <%= image_tag "Mars.png", alt: "alttext", :class => "col-12 col-md d-flex align-items-center justify-content-center"%>
                <% end %>
                <%= link_to planet_path(Planet.find_by(title: "Moon")) do  %>
                <%= image_tag "Lune.png", alt: "alttext", :class => "col-12 col-md d-flex align-items-center justify-content-center" %>
                <% end %>
                <%= link_to planet_path(Planet.find_by(title: "Moon")) do  %>
                <%= image_tag "Venus.png", alt: "alttext", :class => "col-12 col-md d-flex align-items-center justify-content-center" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- ICON CAROUSEL -->
      </div>
      <div class="col-1 d-flex align-items-center justify-content-center"><a  href="#carouselExampleIndicators" data-slide="next">
        <div class="carousel-nav-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"/>
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>

</div>
</div>
</body>
